<div class="container-fluid">
    <header>
        <app-header></app-header>
    </header>

    <section class="row user-create-count">
        <div class="col-md-1"></div>
        <article class="col-md-6 article1">
            <app-user-form></app-user-form>
        </article>

        <article class="col-md-4 article2">
            <app-users-counter></app-users-counter>
        </article>
        
    </section>
     
    <section class="row list-users">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-users-lists></app-users-lists>
        </div> 
    </section>
</div>





