.title{
    margin-top: 20px;
    font-size: 20px;
    margin-left:5px;
    font-weight: bold;
}
.nbre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: red;
}

.getallusers{
    margin-top: 20px;
}